header{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
body{
background-image: url("../img/pattern.jpg");   
}
section{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 95%;
    margin-top: 60px;
    margin-bottom: 55px;
}
div{
    padding-left: 3px;
    padding-right: 3px;
}
.top{
    top: 20px;
    right: 15px;
    position: absolute;
}
.nafheadder{
    font-size: 18px;
    color: blue;
    padding-left: 10px;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    left: 0;
    right: 0;

}